.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.toDos-layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  padding: 20px;
}

.notificacion {
  padding: 25px;
}